@font-face {
    font-family: 'Body-Grotesque-Fit-Trial-Bold';
    src: local('Body-Grotesque-Fit-Trial-Bold'), url('../fonts/Body-Grotesque-Fit-Trial-Bold.ttf.woff') format('woff'),
    url('../fonts/Body-Grotesque-Fit-Trial-Bold.ttf.svg#Body-Grotesque-Fit-Trial-Bold') format('svg'),
    url('../fonts/Body-Grotesque-Fit-Trial-Bold.ttf.eot');
    font-weight: normal;
    font-style: normal;
}

.titre-contact div {
    font-family: 'Body-Grotesque-Fit-Trial-Bold';
    color: black;
    font-size: 100px;
}

.conteneur-horizontal {
    display: flex;
    flex-direction: row;
}

.conteneur-vertical {
    display: flex;
    flex-direction: column;
}

.Contact {
    align-items: center;
    width: 100%;
    padding-top: 50px;
}

.photos-contact {
    align-items: flex-end;
    gap: 5vw;
}

.titre-contact {
    align-items: center;
    gap: 20px;
}

.photo-aline {
    width: 140px;
    height: 258px;
    background-color: orange;
    border-radius: 2px;
}

.photo-violaine {
    width: 140px;
    height: 410px;
    background-color: dodgerblue;
    border-radius: 2px;
}

.photo-pauline {
    width: 140px;
    height: 315px;
    background-color: yellow;
    border-radius: 2px;
}

.photo-david {
    width: 140px;
    height: 530px;
    background-color: red;
    border-radius: 2px;
}

.photo-tom {
    width: 140px;
    height: 415px;
    background-color: mediumspringgreen;
    border-radius: 2px;
}

.picto-bisou{
    height: 60px;
    width: 60px;
}