.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1em;
    background: rgba(0, 0, 0, 0.7);
    font-family: 'Montserrat', sans-serif;
}

.popup-contact {
    background-color: white;
    padding: 20px;
    width: 600px;
    height: 450px;
    align-items: center;
}

.photo-popup {
    width: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}

.blockquote {
    padding: 16px 0 24px;
    position: relative;
    margin-top: 12px;
    margin-bottom: 100px;
}

.blockquote p {
    text-align: center;
    font-style: italic;
}

.blockquote:before {
    position: absolute;
    font-family: 'FontAwesome';
    top: 12px;
    left: -10px;
    content: "\f10d";
    font-size: 30px;
    color: rgba(0, 0, 0, 0.2);
}


.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.popup-reseaux {
    gap: 20px;
    margin-top: 30px;
    font-size: 40px;
    color: black !important;
}

.popup-reseaux a,
.popup-reseaux a:visited,
.popup-reseaux a:focus {
    color: black !important;
}

.popup-reseaux a:hover {
    color: black;
}

a.couleur-david:hover {
    color: #e76f51 !important;
}

a.couleur-aline:hover {
    color: #f4a261 !important;
}

a.couleur-violaine:hover {
    color: #e9c46a !important;
}

a.couleur-tom:hover {
    color: #2a9d8f !important;
}

a.couleur-pauline:hover {
    color: #264653 !important;
}

div.couleur-david {
    background-color: #e76f51;
}

div.couleur-aline {
    background-color: #f4a261;
}

div.couleur-violaine {
    background-color: #e9c46a;
}

div.couleur-tom {
    background-color: #2a9d8f;
}

div.couleur-pauline {
    background-color: #264653;
}

.popup-separateur {
    border-top: 1px solid lightgrey;
    width: 40%;
}