
.humeur_play {
    display: flex !important;
  align-items: flex-start !important;
  justify-content: space-around !important;
}

.moodPicture {
    justify-content: center;
    height: 150px;
}

.moodDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 300px;
    justify-content: center;
    border-radius: 10px;
}

.moodHappy {
    background-color: #ff8f26;
}

.moodAngry {
    background-color:rgb(255, 217, 0);
}

.moodSad {
    background-color: rgb(0, 153, 255);
}

.moodInLove {
    background-color: rgb(255, 227, 232);
}


.playlistHappy {
    margin: 30px;
    margin-bottom: 100px;
    padding-bottom: 20px;
    width: auto;
    background-color: #ff8f26;
    border-radius: 10px;
    text-align: center;
}

.flechePicture {
    margin-top: 10px;
    height: 40px;
    border-radius: 5px;
}


table {
display: flex !important;
  align-items: flex-start !important;
 /*  border-collapse: collapse */
}

.buttonDetail{
    
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.buttonHappy {
    background-color: #ff5e00;
}
.buttonHappy:hover {
    background-color: #fc9a62;
}
.tdPlaylist {
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
    min-width: 80px;
}
.trPlaylist {
    padding: 50px;
}
.tdHappy {
    border: outset #ff5e00;
    background-color: #fdaf4a;
}
.tdHappy:hover {
    border: outset #fc9a62;
}
.theadPlaylist {
    min-width: 400px;
    text-align: center;
    margin-left: 20px;
}
.tbodyPlaylist {
    margin: 10px;
    width: 100%;
}
#imageAlbum {
    background-color: #ff5e00;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    color: white;
    min-height: 650px;
}