
.humeur_play {
    display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.moodPicture {
    justify-content: center;
    height: 150px;
}

.moodDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 300px;
    justify-content: center;
    border-radius: 10px;
}

.moodHappy {
    background-color: #ec8e22;
}

.moodAngry {
    background-color:rgb(255, 217, 0);
}

.moodSad {
    background-color: rgb(0, 153, 255);
}

.moodInLove {
    background-color: rgb(255, 227, 232);
}


.playlistAngry {
    margin: 30px;
    width: auto;
    height: 100vh;
    background-color: #ec8e22;
    border-radius: 10px;
}

.flechePicture {
    margin-top: 10px;
    height: 40px;
    border-radius: 5px;
}

.angryText {
    margin-top: 10px;
}

td {
    align-items: center;
}