.couverture-album {
    border-radius: 10px
}

.detail-chanson-conteneur {
    padding: 20px;
}

@media screen and (min-width: 1440px){
    .informations-titre-chanson {
        min-width: 200px;
    }

    .detail-chanson-conteneur {
        display: flex;
        flex-direction: row;
    }

}


@media screen and (min-width: 1025px) and (max-width: 1440px){
    .informations-titre-chanson {
        min-width: 200px;
    }

    .detail-chanson-conteneur {
        display: flex;
        flex-direction: row;
    }

}

@media screen and (min-width: 560px) and (max-width: 1024px) {
    .informations-titre-chanson {
        min-width: 200px;
    }

    .detail-chanson-conteneur {
        display: flex;
        flex-direction: row;
    }

}

@media screen and (min-width: 441px) and (max-width: 560px){
    .lecteur-playlist {
        width: 310px;
    }
}

@media screen and (min-width: 320px) and (max-width: 440px){
    .lecteur-playlist {
        width: 250px;
    }
}





