/*header style **********************************************/


.menu-container{
    position:relative;
}

.ul-menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:20vw;
    box-shadow: 1px 1px #888;
    position:absolute;
    top:0;
    z-index:999;
    background-color: #fff;
    left: -22vw;
   
}
.menu-button{
    position:relative;
    z-index: 99;
}
.nav-link {
    text-decoration: none;
    color:#555;
    display:flex;
    padding:10px 16px;
    border:1px solid #555;
}

.burger-img{
    width:40px;
}