

.ul-menu-active{
    list-style-type: none;
    margin-top: 30px;
    padding: 0;
    min-width: 50px;
    /*box-shadow: 1px 1px #888;*/
    position:fixed;
    z-index:200;
    background-color:  rgba(52, 101, 206, 0.877);
    left: -100%;
    animation: slide-open 0.5s forwards;
    
   
}

@keyframes slide-open {
    100% { left: 0};
}



.ul-menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:16vw;
    box-shadow: 1px 1px #888;
    position:fixed;
    z-index:200;
    background-color: #fff;
    left: 100%;
    animation: slide-closed 0.5 forwards;
}

.menu-button{
    width:40px;;
    z-index: 99;
    cursor: pointer;
    margin-left:5px;
}

.burger-img{
    width:40px;
}

.nav-link {
    text-decoration: none;
    font-weight: bold;
    color:rgb(255, 255, 255);
    display:flex;
    padding:10px 16px;
    border: 0.5px solid rgba(235, 227, 227, 0.473);
    min-width: 10vw;
    justify-content: center;

}


.menu-button{
    margin-left:15px;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 50px;
    z-index: 99;
  }
  
  .menu-button:before,
  .menu-button:after,
  .menu-button div {
    background: rgb(0, 0, 0);
    content: "";
    display: block;
    height: 6px;
    border-radius: 3px;
    margin: 7px 0;
    transition: 0.5s;
  }
  .menu-button:hover:before {
    transform: translateY(12px) rotate(135deg);
  }
  .menu-button:hover:after {
    transform: translateY(-12px) rotate(-135deg);
  }
  .center:hover div {
    transform: scale(0);
  }
  