.bouton-fermer.aline:hover{
    background-color: #f88517;
}

.bouton-fermer.david:hover{
    background-color: #dfb11d;
}

.bouton-fermer.pauline:hover{
    background-color: #1269d0;
}

.bouton-fermer.tom:hover{
    background-color: #15a280;
}

.bouton-fermer.violaine:hover{
    background-color: #c63458;
}