.blockquote {
    padding: 16px 0 24px;
    position: relative;
    margin-top: 12px;
    margin-bottom: 0;
}

.blockquote p {
    text-align: center;
    font-style: italic;
    color: black;
}

.blockquote:before {
    position: absolute;
    font-family: 'FontAwesome';
    top: 12px;
    left: -10px;
    content: "\f10d";
    font-size: 30px;
    color: rgba(0, 0, 0, 0.2);
}


.blockquote:after {
    position: absolute;
    font-family: 'FontAwesome';
    bottom: 20px;
    right: -8px;
    content: "\f10d";
    font-size: 30px;
    transform: rotate(180deg);
    color: rgba(0, 0, 0, 0.2);
}


.Citation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auteur{
    font-style: italic;
    margin-top: -20px;
}