.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1em;
    background: rgba(0, 0, 0, 0.7);
    font-family: 'Montserrat', sans-serif;
}

.popup-contact {
    background-color: white;
    padding: 20px;
    width: 600px;
    height: 450px;
    align-items: center;
}

.photo-popup {
    width: 300px;
}

.photo-popup.violaine {
    background-repeat: no-repeat;
    background-size: 130%;
    background-position: -30px -80px;
}

.photo-popup.aline {
    background-size: cover;
    background-repeat: no-repeat;
}

.photo-popup.david {
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: cover;
}

.photo-popup.tom {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -20px;
}

.photo-popup.pauline {
    background-size: cover;
    background-repeat: no-repeat;
}

.bouton-fermer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: black;
    margin-top: -34px;
    margin-right: -34px;
    cursor: pointer;
}

.bouton-fermer i {
    color: white;
}

.conteneur-bouton-fermer {
    width: 100%;
    justify-content: flex-end;

}

.popup-reseaux {
    gap: 20px;
    margin-top: 30px;
    font-size: 40px;
    color: black !important;
}

.popup-reseaux a,
.popup-reseaux a:visited,
.popup-reseaux a:focus {
    color: black !important;
}

.popup-reseaux a:hover {
    color: black;
}

a.violaine:hover {
    color: #c63458 !important;
}

a.aline:hover {
    color: #f88517 !important;
}

a.david:hover {
    color: #dfb11d !important;
}

a.tom:hover {
    color: #15a280 !important;
}

a.pauline:hover {
    color: #1269d0 !important;
}

.popup-separateur {
    border-top: 1px solid lightgrey;
    width: 40%;
    margin-top: 80px;
}