
/*Footer **********************************************************/

.footer-container{
    background-color: #264653;
    position:fixed;
    bottom:0;
    width:100%;
}
.ul-footer{
    display:flex;
    list-style-type: none;
    margin:10px 0 0 0;
    padding:0;
    justify-content: center;
    flex-wrap: wrap;
}

.ul-footer li{
    padding:10px 5px 10px 10px;
    color:#ffffff;
    font-size:1em;

}


.ul-footer li a{
    text-decoration:none;
    color:#ffffff;
}

.ul-footer li a:hover{
  
    color:rgb(7, 7, 7);
    transition: 0.5s;
}

.emo:hover{
    font-size:1.2em
}


.img-footer-bisou{
    width:20px;
}

/*règles footer smartphone*****************/

@media screen and (min-width: 200px) and (max-width: 414px){

    .ul-footer{
        display:flex;
        list-style-type: none;
        margin:10px 0 0 0;
        padding:0;
        flex-wrap: wrap;
        justify-content:left;
    }

    .ul-footer li{
        padding:10px 0px 5px 10px;
        color:#ffffff;
        font-size:0.9em;
    
    }
    
    .ul-footer li a:hover{
       
        color:rgb(7, 7, 7);
        transition: 0.5s;
    }
    
   .emo:hover{
       font-size:1.2em
   }

}